.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.main {
  flex: 1;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.home{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
