.nav {
  height: 70px;
  padding: 10px;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right{
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
  height: 100%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}
